@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-color: red; */
    width: 100%;
}

/* Template HEADER */

header {
    width: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

header > nav {
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* padding: 5%; */
}

header > nav > .menu {
    /* background-color: palegreen; */
    width: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .menu > li {

} */

.menu > li > a {
    text-decoration: none;
    color: #747474;
    font-size: 16px;
}

.menu > li > a:hover {
    color: #000;
}

a > .logo-header {
    width: 120px;
}

/* Toggle de menu responsivo */

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .btn-menu {
    display: none;
  }


/* Template BODY */

main {
    width: 100%;
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    height: 100vh;
}

/*  */

#landing {
    background-color: #fff;
    height: auto;
    /* width: 100%; */
}

#landig > .content {
    width: 100%;
}

.card {
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    height: auto;
    border-radius: 50px;
}

.card > .left {
    width: 50%;
    background-image: url('../img/card-ilustrate1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px 0 0 50px;
}

.card > .right {
    width: 50%;
    padding: 60px 30px;
}

.card > .right > h2 {
    font-size: 48px;
    margin: 20px 0;
    line-height: 1;
}

.card > .right > span {
    font-size: 16px;
    color: #747474;
}

.card > .right > a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 20px;
}

.card > .right > a:hover {
    opacity: 80%;
}

.card > .right > a:active {
    opacity: 50%;
    transform: scale(0.99);
}

/*  */

/* Produtos */

#produtos {
    /* background-color: palegreen; */
    height: auto;
    margin: 50px 0;
}

#produtos > .content {
    width: 100%;
}

#produtos > .content > h2 {
    line-height: 1;
    margin: 0  0 20px 0;
    font-size: 32px;
}

.cards {
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.card2 {
    background-color: #000;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    
    background-repeat: no-repeat;
    background-position: center;

}

.card2.roupas {
    background-image: url('../img/card-roupas.jpg');
    background-size: 150%;    
}

.card2.material {
    background-image: url('../img/card-material.jpg');
    background-size: 150%;    
}

.card2.eletronicos {
    background-image: url('../img/card-eletronicos.jpg');
    background-size: 150%;    
}

.card2.casa {
    background-image: url('../img/card-casa.jpg');
    background-size: 150%;    
}

.card2 > .content-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 0;
    align-items: center;
    border-radius: 10px;

    /* backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px ); */
    transition: .5s ease-in-out;
}

.card2 > .content-card > a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0%;
    transition: .2s opacity ease-in-out;
}

.card2:hover > .content-card > a {
    opacity: 100%;
}

.card2:hover > .content-card {
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
}

footer > .content {
    width: 100%; 
    display: flex;
    padding: 40px 25px;
}

footer > .content > .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer > .content > .left > a > img {
    width: 200px;
    opacity: 80%;
}

footer > .content > .left > p {
    text-align: justify;
    width: 80%;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}

footer > .content > .right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

footer > .content > .right > ul {
    width: 30%;
    list-style-type: none;
}

footer > .content > .right > ul > h3 {
    text-transform: uppercase;
}

footer > .content > .right > ul > li {
    margin: 20px 0;
}

footer > .content > .right > ul > li > a {
    color: #cacaca;
    font-size: 14px;
}

footer > .content > .right > ul > li > a:hover {
    color: #ffff;
}

footer > .foot {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
}
